
* {
    box-sizing: border-box;
}

body {
    margin: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    font-size: 12px;
}
header,
footer {
    color: palegreen;
}

h1, h2, h3 {
    font-family: 'Poor Story', cursive;
}

h1,
footer {
    text-align: center;
}

h2, 
footer {
    margin-top: 10px;
}

main {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    background: url('../images/Pitch.jpg') no-repeat center center;
    background-size: cover;
}

button {
    display: block;
    margin: 0px auto;
    background-color: black;
    color: palegreen;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid palegreen;
}

button:hover,
button:focus {  
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: black;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

/* Statistics Box */
.statistics {
    display: none;
    text-align: center;
    background-color: palegreen;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.2em;
}

.statistics-totals, .statistics-score {
    display: inline-block;
    margin: 0 30px;
}

.statistics-title {
    font-weight: bold;
}

.statistics-balls {
    margin-top: 10px;
}

.statistics-balls img {
    margin: 0 10px;
}

/* Quiz Box */
.quiz-box {
    text-align: center;
    margin-top: 20px;
}

#quiz-box-questions,
.quiz-box-answers,
.final-score,
.quiz-box-home {
    background-color: rgba(152, 251, 152, 0.75);
    border-radius: 5px;
    width: 90%;
    margin: 0 auto;
}

.quiz-box-home {
    padding: 10px;
    height: 100%;
}

.start-button {
    font-size: 20px;
}

.question-submit-button {
    background-color: green;
    border: 1px solid green;
    color: black;
}

.question-submit-button:hover,
.question-submit-button:focus {
    background-color: darkgreen;
    border: 1px solid darkgreen;
    color: black;
}

form {
    text-align: center;
}

legend {
    margin: 20px auto;
    padding: 5px;
    border-radius: 5px;
    width: 80%;
    line-height: 1.2em;
}

.quiz-box-answer {
    text-align: left;
    margin: 0 auto;
    line-height: 1.5em;
}

.quiz-box-correct {
    color: blue;
}

.quiz-box-incorrect {
    color: red;
}

.quiz-box-options {
    margin: 10px auto;
}
  
.quiz-box-options input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.quiz-box-options label {
    display: block;
    border: 2px solid #444;
    margin: 5px;
    background-color: black;
    color: palegreen;
    border-radius: 5px;
}

.quiz-box-options label:hover {
    background-color: green;
    color: black;
    font-weight: bold;
}

.quiz-box-options input[type="radio"]:focus + label {
    background-color: green;
    color: black;
    font-weight: bold;
}

.quiz-box-options input[type="radio"]:checked + label {
    background-color: darkgreen;
    border-color: darkgreen;
}

@media only screen and (max-width: 600px) {  
    main {
        width: 90%;
        padding: 10px;
    }

    #quiz-box-questions,
    .quiz-box-answers,
    .final-score {
        padding: 5px;
    }

    .quiz-box {
        min-height: 420px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    legend {
        font-size: 1.3em;
    }

    .quiz-box-options label {
        padding: 5px 5px;
        font-size: 16px;
    }

    .quiz-box-explanation {
        font-size: 12px;
        line-height: 1.2em;
    }

    .quiz-box-options {
        width: 90%;
    }

    .quiz-box-home img {
        display: none;
    }

    .statistics-balls {
        display: none;
    }
    
    button {
        margin-top: 20px;
        width: 100px;
        font-size: 1.2em;
        padding: 5px 10px;
    }
}

@media only screen and (min-width: 601px) {  
    main {
        width: 85%;
        padding: 20px;
    }

    #quiz-box-questions,
    .quiz-box-answers,
    .final-score {
        padding: 10px;
    }

    .quiz-box {
        min-height: 350px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 20px;
    }

    legend {
        font-size: 1.4em;
    }

    .quiz-box-options label {
        padding: 5px 10px;
        font-size: 14px;
    }

    .quiz-box-explanation {
        font-size: 16px;
    }

    .quiz-box-options {
        width: 60%;
    }

    .quiz-box-home img {
        width: 90%;
        height: 90%
    }

    .statistics-balls img {
        margin: 0 2px;
    }
    
    button {
        margin-top: 50px;
        width: 300px;
        font-size: 1.3em;
        padding: 8px 15px;
    }
}

@media only screen and (min-width: 800px) { 
    main {
        width: 75%;
        padding: 20px;
    }

    #quiz-box-questions,
    .quiz-box-answers,
    .final-score {
        padding: 20px;
    }

    .quiz-box {
        min-height: 500px;
    }

    h1 {
        font-size: 60px;
    }

    h2 {
        font-size: 40px;
    }

    h3 {
        font-size: 30px;
    }

    legend {
        font-size: 1.5em;
    }

    .quiz-box-options label {
        padding: 10px 15px;
        font-size: 16px;
    }

    .quiz-box-explanation {
        font-size: 18px;
    }

    .quiz-box-options {
        width: 50%;
    }

    .statistics-balls {
        display: block;
    }

    button {
        margin-top: 50px;
        width: 300px;
        font-size: 1.5em;
        padding: 10px 20px;
    }
}